body{
  overflow-x: hidden;
}
.pokedex-button{
  background:url(assets/images/Poké_Ball_icon.svg) no-repeat;
  cursor:pointer;
  border:none;
  width:10em;
  height:10em;
  position: fixed;
  bottom: 2em;
  left: 2em;
}



.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  border: 1px solid black;
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: 	#ff0000;
  width: 100em;
  max-width: 80%;
}

body{
  background-color: #282828;
}

.modal.active{
  transform: translate(-50%,-50%) scale(1);
}

.modal-header {
  padding: 1em 5em;
  border-bottom: 0.25em solid 	#3b4cca;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.modal-header img {
  margin: 0;
}

.modal-header .close-button {
  cursor: pointer;
  -webkit-text-stroke-width: 0.05em;
  -webkit-text-stroke-color: #3b4cca;
  border: none;
  outline: none;
  background: none;
  font-size: 2.5em;
  font-weight: bold;
  color: #FFCE31;
}


.modal-body {
  background-color: 	#333333;
  padding: 0 3em;
  max-height: 70vh; /* Maximum height for the modal body */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.list-item {

  border-radius: 1em;
  background-color: white;
  flex: 1 1 200px; 
  display: flex; 
  flex-direction: column; 
  border: 0.5em solid rgb(229, 214, 7);
  margin: 1em 0.5em;
  text-align: center;
  box-sizing: border-box;
}

.img-wrap {
  flex: 1; 
  display: flex; 
  justify-content: center; 
}

.img-wrap img {
  max-width: 100%;
  height: auto;
}

#overlay{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.25);
  pointer-events: none;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}



canvas{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.battle{
  background-color: black;
  width: 1024px;
  height: 576px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
}


#instruction-button {
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  padding: 15px 32px;
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  cursor: pointer; 
  margin: 4px 2px; 
  border-radius: 5px; 
}

#instruction-button:hover {
  background-color: #45A049; 
}

.instructions.active{
  transform: translate(-50%,-50%) scale(1);
}

.instructions {
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%) scale(0); 
  display: flex; 
  justify-content: center;
  align-items: center; 
  background-color: rgba(0, 0, 0, 0.7); 
  color: white; 
  padding: 20px;
  border-radius: 5px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
  font-family: sans-serif; 
  text-align: center; 
  max-width: 500px; 
  z-index: 10; 
}

.instructions h1 {
  margin-top: 0; 
  margin-bottom: 10px;
  font-size: 1.2em; 
}

.close-button {
  position: absolute; 
  top: 10px;
  right: 10px; 
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
}

.close-button p {
  color: white;
  font-size: 20px; 
  line-height: 0;
}

#starter{
  -webkit-text-stroke-width: 0.07em;
  -webkit-text-stroke-color: #3b4cca;
  color: #FFCE31;
  font-size: 1.5em;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 60%;
  transform: translate(-50%,-50%) scale(0);
  border: 1px solid black;
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: 	#ff0000;
  width: 70em;
  max-width: 70%;
  
}

#starter.active{
  transform: translate(-50%,-50%) scale(1);
}

#starter-pokemons{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.starters{
  border-radius: 1em;
  background-color: white;
  flex: 1 1 200px; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
  border: 0.5em solid rgb(229, 214, 7);
  margin: 1em 0.5em;
  text-align: center;
  box-sizing: border-box;
  height: 13em;
  margin: 2em;
  cursor: pointer;
}

#attacks{
  position: fixed;
  background-color: white;
  border-top: 4px black solid;
  top: 80%;
  left: 50%;
  width: 1024px;
  height: 200px;
  transform: translate(-50%,-50%) scale(0);
  display: flex;
}

#attacks.active{
  transform: translate(-50%,-50%) scale(1);
}

#moves{
  width: 66.66%;
  border-right: 2px black solid;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

#move1, #move2, #move3, #move4, #leave{
  cursor: pointer;
}


#leave-battle{
  width: 33.34%;
  display: flex;
  justify-content: center;
  text-align: center;
  
}

#leave-battle button{
  width: 100%;
}

#attack-display{
  position: fixed;
  background-color: white;
  border-top: 4px black solid;
  top: 80%;
  left: 50%;
  width: 1024px;
  height: 200px;
  transform: translate(-50%,-50%) scale(0);
  text-align: center;
}

#attack-display.active{
  transform: translate(-50%,-50%) scale(1);
}

#myHP{
  position: fixed;
  background-color: white;
  border-top: 4px black solid;
  top: 20%;
  left: 25%;
  width: 300px;
  height: 100px;
  transform: scale(0);
  text-align: center;
  border-radius: 2em;
  border: 4px black solid;
}

#myHP.active{
  transform: scale(1);
}

#enemyHP{
  position: fixed;
  background-color: white;
  border-top: 4px black solid;
  top: 20%;
  left: 60%;
  width: 300px;
  height: 100px;
  transform: scale(0);
  text-align: center;
  border-radius: 2em;
  border: 4px black solid;
}

#enemyHP.active{
  transform: scale(1);
}

#myHP h1{
  font-size: 1.5em;
}

#enemyHP h1{
  font-size:1.5em;
}

.circle-container {
  position: absolute;
  width: 4em; /* Adjust size as needed */
  height: 4em; /* Adjust size as needed */
  top: 0;
  left: 96%;
  padding-top: 2em;

}

.circle {
  position: absolute;
  
  width: 4em; /* Adjust size as needed */
  height: 4em; /* Adjust size as needed */
  background-color: #f00; /* Circle color */
  border-radius: 50%; /* Make it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  color: #fff; /* Number color */
  font-size: 3em; /* Adjust font size as needed */
}

#reset{
  position: absolute;
  top: 90%;
  left: 90%;
  background-color: red; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  border-radius: 2em;
}

#reset:hover{
  background-color: rgb(139, 12, 12) ;
}

